h1 {
    font-family: 'ThuPhap', 'Brush Script MT', cursive;
  font-size: 32px;
  line-height: 1.6;
  letter-spacing: 1px;
}

/* h1 {
    font-family: 'Great Vibes', cursive;
  font-size: 30px;
  line-height: 1.6;
} */